certifi==2017.7.27.1
chardet==3.0.4
Django>=1.11,<2.0
django-cors-headers==2.1.0
django-ipware==2.1.0
django-oauth-toolkit==1.0.0
djangorestframework==3.6.4
idna==2.6
oauthlib==2.0.6
pytz==2017.2
PyYAML==5.1
requests==2.22.0
urllib3==1.25.8
